/* User Admin Page Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.edit-form {
    display: none;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
}